* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

html,
body {
    height: 100%;
    overflow-y: hidden;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    padding: 3%;
}

.logo {
    display: flex;
    width: 10%;
    height: 10%;
    position: absolute;
    top: 5%;
    left: 5%;

}

.menu {
    padding-top: 3%;
    width: 90%;
    text-align: right;
    left: 0%
}

.menu a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px
}

.consulta {
    position: relative;
    top: 20px;
    left: 80px;
    width: 600px;
    height: 400px
}

#myMap {
    width: 40%;
    height: 60%;
    position: absolute;
    top: 200px;
    left: 700px;
}

.mapLayout h1 {
    margin: 10px 0;
    top: -100px;
    left: 10px;
    position: relative;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;

}

.consulta h1 {
    margin: 10px 0;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-weight: bold;
    padding-left: 5%
}

.consulta label {
    margin: 10px 0;
    color: rgb(255, 255, 255);
    font-size: 15px;
    font-weight: bold;
    padding-left: 5%
}

.consulta button {
    margin: 10px 0;
    color: rgb(0, 0, 0);
    font-size: 15px;
    font-weight: bold;
    border: 1 px solid gray;
    border-radius: 10px;
    box-shadow: 2px 2px gray;

}

.result p {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px
}

.result p0 {
    color: rgb(40, 40, 40);
    text-decoration: none;
    font-weight: bold;
    margin-right: 15px
}



input[type=number]:focus {
    border: 3px solid #555;
}


ul {
    margin: 2% 0 0 80%;
    color: rgb(40, 40, 40);
    text-decoration: none;
    font-weight: bold;
}

a {
    position: relative;
    bottom: 450px;
    display: block;
    width: 20%;
    padding: 5px 0;
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    background-color: #999999;
}

a span {
    display: none;
    /* Aqui você define que todo SPAN que estiver dentro de um A estará invisível */

}

/* Posiçao da imagem que irá aparecer ao colocar o mouse por cima */
a:hover span {
    display: block;
    /* Tranforma o SPAN em um elemento do tipo bloco */
    position: absolute;
    /* Para você poder posicionar a vontade, sem quebrar o layour em volta */
    bottom: -69px;
    /* Para ficar na mesma altura do link */
    right: 100%;
    /* Empurra a imagem para fora do link, ficando a lado do mesmo */
    border: 1px #CCCCCC solid;
    /* Estilo extra, lembrando que você pode colocar qualquer estilo nesse elemento */
}

.about {
    margin-left: auto;
    margin-right: auto;
    width: 450px;
    height: 150px;
    background-color: #1e1d20;
    text-decoration: none;
    font-weight: bold;

}

.about h1 {

    margin-left: 10px;
    margin-right: auto;
    color: white;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.5
}

.about p {
    margin-left: 10px;
    margin-right: auto;
    color: white;
    font-weight: bold;
    font-size: 15px;
    line-height: 1.5
}